.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 320px;
    height: 550px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    border-color: #000000;
    border-width: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .result {
    display: flex;
    text-align: right;
    width: 90%;
    height: 70px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 50px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #ffffff;
    background-color: #bcbcbc00;
    border: none;
    border-radius: 10%;
    cursor: pointer;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: #6f8e9d;
    transition: .3s;

  }
  
  
  .black {
    color: #ffffff;
  }
  
  .zero {
    text-align: center;
  }
  
 
  .operator:hover {
    background-color: #203744;
  }

  i{
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
  .equals {
    width: 150px;
    border-radius: 16px;
    background-image:linear-gradient(to right, pink, yellow);
  }